doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title="Framework"
    link(rel="stylesheet", href="style.scss")
  body
    div.framework
      div
        input.input(
          type="text"
          placeholder="Введите логин"
          name="name"
        )
      div 
        input.input.input_error(
          type="text"
          placeholder="Ошибка"
          name="name"
        )
      div
        button.button(name="add" type="submit" value="ok") Добавить
      div.task-field
        span.task-field__text Открыть проект Planer
        span.task-field__time 18:00
      a(href="#")
        include images/small-calendar.svg