doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title="Framework"
    link(rel="stylesheet", href="style.scss")
  body
    div
      div
        input.input(
          type="text"
          placeholder="Введите логин"
          name="name"
        )
      div 
        input.input.input--error(
          type="text"
          placeholder="Ошибка"
          name="name"
        )
      div
        button.button(name="submit") Добавить
      div.field
        p.field__text Открыть проект Planer
        p.field__time 18:00
      a(href="#")
        svg(width="18px" height="20px" viewBox="0 0 18 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
          g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
            g(id="TodoList" transform="translate(-732.000000, -247.000000)" fill="#566394")
              path(d="M748,249 L747,249 L747,247 L745,247 L745,249 L737,249 L737,247 L735,247 L735,249 L734,249 C732.89,249 732.01,249.9 732.01,251 L732,265 C732,266.1 732.89,267 734,267 L748,267 C749.1,267 750,266.1 750,265 L750,251 C750,249.9 749.1,249 748,249 L748,249 Z M748,265 L734,265 L734,254 L748,254 L748,265 L748,265 Z M736,256 L741,256 L741,261 L736,261 L736,256 Z" id="littleCalendar")